# TODO: worker_connections/worker_processes/worker_rlimit_nofile/ulimit: https://www.nginx.com/blog/avoiding-top-10-nginx-configuration-mistakes/#insufficient-fds, https://nginx.org/en/docs/ngx_core_module.html, https://serverfault.com/questions/787919/optimal-value-for-nginx-worker-connections, https://gist.github.com/v0lkan/90fcb83c86918732b894, https://www.digitalocean.com/community/tutorials/how-to-optimize-nginx-configuration#worker-processes-and-worker-connections (FEAT, TWEAK)
# TODO: backlog/somaxconn: https://docs.nginx.com/nginx/admin-guide/web-server/serving-static-content/#optimizing-the-backlog-queue (FEAT, TWEAK)
# TODO: investigate other performance articles: https://www.nginx.com/blog/thread-pools-boost-performance-9x/, https://www.nginx.com/blog/tuning-nginx#limit_rate, https://www.nginx.com/blog/avoiding-top-10-nginx-configuration-mistakes/, https://www.nginx.com/blog/performance-tuning-tips-tricks/, https://www.nginx.com/wp-content/uploads/2018/11/NGINX-Conf-2018-slides_Rawdat-tuning.pdf (FEAT, TWEAK)

user $NGINX_USER;
pid /run/nginx.pid;

error_log $NGINX_ERROR_LOG info; # TODO: investigate which log level is the best (TWEAK)

# TODO: load_module modules/ngx_fips_check_module.so; (NGINX-MOD)

# TODO: worker_cpu_affinity? (FEAT, TWEAK)

worker_processes auto; # TODO: configure (TWEAK)

working_directory $NGINX_DUMPS;
worker_rlimit_core 16G; # TODO: configure (TWEAK)

worker_rlimit_nofile 2048; # TODO: configure (TWEAK)

events {
	use epoll; # Linux

	multi_accept off; # TODO: decide if it should be turned on (TWEAK)

	worker_connections 1024; # TODO: configure (TWEAK)
}

http {
	access_log $NGINX_ACCESS_LOG combined gzip flush=30m; # TODO: decide which log format to use (TWEAK)
	                                                      # TODO: find best gzip level, buffer size, and flush time (TWEAK)
	include $NGINX_ENVSUBST_OUTPUT_DIR/http.conf;
}

# TODO: add configuration for streams (FEAT, STREAM)
# TODO: add configuration for mail server (FEAT, MAIL)